@charset "utf-8";

body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}
ol,ul{margin:0; padding:0;}
ul{list-style: none}
a{text-decoration: none; color: #666}
a:hover{color: #f00}
em, i, u {
  font-style: normal;
}
body{
  font-family: "微软雅黑";
  font-size: 12px;
}
//解决IE下png默认黑边框
//IE下 a中的img在hover时产生红边框
img{
  border: 0 none;
}

//public
.show{
  display: block;
}
.hide{
  display: none;
}
.bg1{background-color: #333}
.bg2{background-color: #B1191A}
.bg3{background-color: #fff}

//top
.top{
  min-width: 1200px;
  height: 32px;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;

}
.top-content{
  width: 1200px;
  margin: 0 auto;
  color: #666;
  font-size: 12px;
  .send{
    width: 110px;
    float: left;
    line-height: 32px;
    text-align: center;
    position: relative;
    &:hover .send-msg{
      background-color: #fff;
      border-right: 1px solid #ccc ;
      border-left:  1px solid #ccc;
      height: 33px;
      width: 108px;
      position: absolute;
      z-index: 100;
    }

  }

  i{
    display: inline-block;
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 2px;
    margin-top: 10px;

    background-image: url("../images/down.png");
  }
}
.top-list{
  list-style: none;
  float: right;
  >li{
    width: 76px;
    line-height: 32px;
    margin-right: 4px;
    float: left;
    text-align: center;
    position: relative;
  }
}

//箭头旋转动画
.i-up{
  -webkit-animation: rotJiantou .3s;
  -o-animation: rotJiantou .3s;
  animation: rotJiantou .3s;
  transform : rotate(180deg);
}
.i-down{
  -webkit-animation: rotJiantou2 .5s;
  -o-animation: rotJiantou2 .5s;
  animation: rotJiantou2 .5s;
  transform : rotate(0deg)
}
@keyframes rotJiantou {
  0%   {transform : rotate(0deg)}
  100% {transform : rotate(180deg)}
}
@keyframes rotJiantou2 {
  0%   {transform : rotate(180deg)}
  100% {transform : rotate(0deg)}
}

.address-select{background-color:#f00; color:#fff;}
.address-hover{ background-color: #f0f0f0;  color: #f00;}
.address{
  position: absolute;
  z-index: 50;
  top:32px;
  width: 280px;
  height: 250px;
  background-color: #fff;
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  li{
    float: left;
    width: 55px;
  }
  span{
    padding: 4px;
    cursor: pointer;
  }
}
.space {
    display: block;
    width: 1px;
    height: 12px;
    margin-top: 5px;
    background-color: #ccc;
  position: absolute;
  top:6px;
  left: -3px;
}
.myJD{
  position: absolute;
  left: -1px;
  z-index: 50;
  top:32px;
  width: 265px;
  height: 205px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px 0 0 15px;

  img{
    max-width: 100%;
  }
  .myJD-icon{
    display: block;
    width: 66px;
    height: 66px;
    border-radius:50%;
    overflow: hidden;
    float: left;
  }

  .myJD-login{
    width: 180px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    text-align: left;
    line-height: 2em;
    span{
      display: inline-block;
      width: 1px;
      height: 12px;
      margin:0 10px;
      position: relative;
      top:2px;
      background-color: #666;
    }
  }

  li{
    width: 130px;
    float: left;
    text-align: left;
  }
}
#list-myJD:hover{
  width: 74px;
  height: 33px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  .myJD{
    display: block;
    border-top: none;
    position: relative;
    top:1px;
  }
}
#list-JD-phone{
  width: 90px;
  .jiantou{
    margin-right: 2px;
  }
}
#list-JD-phone:hover{
  background-color: #fff;
  width: 88px;
  height: 33px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  #phone{
    margin-left: 1px;
    background-position: -2px -27px;
  }
  .jiantou{
    margin-right: 1px;
  }
  .JD-phone-content{
    display: block;
    border-top: none;
  }

}
.JD-phone-content{
  position: absolute;
  left: -1px;
  z-index: 50;
  top:33px;
  width: 250px;
  height: 195px;
  border: 1px solid #ccc;
  color: #f00;
  background-image: url("../images/JD-phone.png");
  >div{
    width: 160px;
    height: 97px;
    float: right;
  }
}
.floor{
  span{
    position: relative;
    top:6px;
    left:-14px;
  }
  >a{
    display: block;
    width: 80px;
    height: 14px;
    position: relative;
    top:8px;
    left: 9px;
  }
}
.JD-phone-icon{
  height: 40px;
  width: auto;
  a{
    display: block;
    width: 33.3%;
    height: 100%;
    float: left;
  }
}
#phone{
  display: block;
  width: 11px;
  height: 16px;
  float: left;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 8px;
  background-image: url("../images/phone.png");
  background-position: -2px -2px;
}
.watch-JD{
  position: relative;
  cursor: default;
  div{
    position: absolute;
    left: -1px;
    z-index: 50;
    top:33px;
    height: 97px;
    width: 74px;
    border:1px solid #ccc;
    background-image: url("../images/JD.jpg");
    background-position: center;
    background-size: cover;
  }
  &:hover{
    width: 74px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 33px;
    .jiantou{
    }
    div{
      display: block;
      border-top: none;
    }
  }
}
.customer-server{
  position: relative;
  cursor: default;
  height: 33px;

  &:hover{
    width: 74px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    .customer-server-content{
      display: block;
      border-top: none;
    }
  }
}
.customer-server-content{
  height: 150px;
  position: absolute;
  left: -1px;
  z-index: 50;
  top:33px;
  background-color: #fff;
  text-align: left;
  border: 1px solid #ccc;
  h3{
    height: 20px;
  }
  div{
    width: 140px;
    padding: 0 14px;
  }
  li{
    float: left;
    width: 60px;
    height: 24px;
    margin-right: 10px;
  }
}
.customer-server-content-1{
  height: 100px;
  border-bottom: 1px dashed #ccc;
}
.JD-navi-content{
  position: relative;
  cursor: default;
  &:hover{
    width: 74px;
    height: 33px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    .JD-nav{
      display: block;
      border-top: none;
    }
  }
}
.JD-nav{
  position: absolute;
  left:-1117px;
  z-index: 50;
  top:33px;
  width: 1150px;
  height: 190px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  h3{
    margin-bottom: 10px;
  }
  div{
    float: left;
    text-align: left;
  }

  li{
    padding: 0;
    width: 80px;
    float: left;
    text-align: left;
  }

}
.JD-nav-1{
  width: 320px;
}
.JD-nav-2,.JD-nav-3,.JD-nav-4{
  width: 255px;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

//AD
.title-ad{
  height: 130px;
  margin: 0 auto;
  border-bottom: 3px solid orange;
  background-color: #ffe4c4;
  font-size: 24px;
  color: #1d7ad9;
  .con{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: relative;

    &:hover{
      .clo{
        display: block;
      }
    }

  }
  .clo{
    display: none;
    font-size: 1rem;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.4);
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
  }
}

//navi
.search{
  height: 144px;
  background-color: #fff;
  border-bottom: 2px solid #b1191a;
  font-size: 14px;
  color: #666;
  min-width: 1200px;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
}
.search-content{
  width: 1200px;
  height: 144px;
  margin: 0 auto;
  position: relative;
}
.logo{
  font-family: "宋体";
  width: 200px;
  height: 100px;
  margin-left: 20px;
  position: absolute;
  cursor: pointer;
}
.logo-text1{
  font-size: 68px;
  font-weight:bold;
  color: #000;
  position: relative;
  top:-10px;
}
.logo-text2{
  font-size: 24px;
  position: relative;
  top:-110px;
  left:90px;
}
.search-box{
  width: 580px;
  height: 60px;
  margin: auto;
  position: relative;
  top:30px;
  #search-value{
    width: 455px;
    height: 32px;
    border:2px solid #b61d1d;
    font-size: 20px;
    padding-left: 2px;
    outline: none;
    color: #666;

  }
  #search-btn{
    height: 38px;
    width: 80px;
    border: none;
    background-color: #b61d1d;
    color: #fff;
    font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
    font-size: 20px;
    position: relative;
    margin-left: -7px;
    top: 2px;
    cursor: pointer;
  }
  p{
    margin-top: 10px;
  }
  a{
    font-size: 12px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
}
.shopping-box{
  float: right;
  width: 140px;
  height: 36px;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 12px;
  line-height: 36px;
  position: absolute;
  top:33px;
  right: 20px;
  margin-right: 60px;

  .shopping-box-up{
    border: 1px solid #ccc;
    width: 140px;
    height: 36px;
    position: absolute;

  }

  .jiantou{
    display: inline-block;
    width: 16px;
    height: 16px;
    float: right;
    position: relative;
    top:10px;
    transform: rotate(-90deg);
    background-image: url("../images/down.png");
  }
  &:hover{
    .shopping-box-up{
      background-color: #fff;
      box-shadow: 0 -2 2px #999;
      border-bottom: none;
      height: 38px;
      z-index: 50;
    }
    .shopping-box-item{
      display: block;
      z-index: 10;
    }
  }
}
.shopping-box-item{
  display: none;
  width: 310px;
  height: 70px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  top:38px;
  left: -170px;
  line-height: 70px;
  box-shadow: 0 0 2px #999;
  img{
    float:left;
    margin: 10px 0 10px 60px;
  }
}
.gouwuche{
  display: inline-block;
  width: 16px;
  height: 16px;
  float: left;
  position: relative;
  top:8px;
  left: 20px;
  background-image: url("../images/phone.png");
  background-position: -2px -56px;
}
.gouwuche-title{
  display: inline-block;
  position: absolute;
  top:-4px;
  height: 14px;
  font-size: 12px;
  line-height: 12px;
  min-width: 12px;
  text-align: center;
  padding: 1px 2px;
  color: #fff;
  background-color: #c81623;
  border-radius: 7px 7px 7px 0;
  cursor: default;
}
.all-sell{
  width: 190px;
  height: 45px;
  padding-left: 20px;
  background-color: #b1191a;
  color: #fff;
  line-height: 45px;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom:-2px;
  span{
    cursor: pointer;
  }
}
.title-list{
  margin-left: 220px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  li{
    float: left;
    width: 70px;
    margin-right: 8px;
  }
}
.all-list{
  top:45px;
  left: 0;
  z-index: 20;
  >li{
    font-size: 14px;
    width: 188px;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #c81623;
    background-color: #c81623;
    margin-left: -20px;
    >a{
      color: #fff;
    }
    &:hover{
      border-right: none;
      background-color: #fff;
      >a{
        color: #c81623;
      }
      .hov{
        display: inline-block;
        width: 2px;
        height: 30px;
        background-color: #fff;
        position: absolute;
        z-index: 50;
        left: 209px;
      }
    }
  }
  i{
    float: right;
    font-size: 14px;
    margin-right: 6px;
  }
}
.all-list-content{
  width: 980px;
  line-height: 30px;
  overflow: hidden;
  background-color: #fff;
  color: #333;
  margin-left: 189px;
  margin-top: 45px;
  padding: 20px;
  position: absolute;
  z-index: 20;
  top:0;
  left:20px;
  border: 1px solid #c81623;
  font-size: 12px;

  ul{
    font-size: 14px;

    li{
      float: left;
      height: 26px;
      line-height: 26px;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: #999;
      color: #fff;
      a{
        color: #fff;
        padding: 0 4px;
      }
      i{
        display: block;
        float: right;
        width: 26px;
        height: 26px;
        margin-right: 0;
        background-color: #666;
        text-align: center;
      }
      &:hover{
        background-color: #c81623;
        i{
          background-color:#b1191a;
        }
      }
    }
  }
  dt{
    width: 70px;
    font-weight: bold;
    text-align: right;
    line-height: 36px;
    margin-bottom: 5px;
    i{
      margin-left: 5px;
    }
  }
  dd{
    width: 640px;
    float: left;
    margin-left: 80px;
    margin-top: -40px;
    padding: 4px 0;
    border-bottom: 1px solid #f3f3f3;
    a{
      display: block;
      float: left;
      line-height: 16px;
      padding: 0 8px;
      margin: 4px 0;
      border-left: 1px solid #e0e0e0;
    }
  }
  .all-list-content-show{
    width: 168px;
    position: absolute;
    right: 20px;
    top:16px;
    >a{
      display: block;
      width: 168px;
      height: 134px;
    }
    .butie{
      margin-top: 150px;
      margin-bottom: 1px;
      background-image: url("../images/butie.jpg");
    }
    .game{
      background-image: url("../images/game.jpg");
    }
    div{
      a{
        display: block;
        width: 83px;
        height: 35px;
        float: left;
        margin:0 1px 1px 0;
      }
      .meidi{
        background-image: url("../images/meidi.jpg");
      }
      .leshi{
        background-image: url("../images/leshi.jpg");
      }
      .simens{
        background-image: url("../images/simens.jpg");
      }
      .gree{
        background-image: url("../images/gree.jpg");
      }
      .joyoung{
        background-image: url("../images/joyoung.jpg");
      }
      .philips{
        background-image: url("../images/philips.jpg");
      }
      .robam{
        background-image: url("../images/robam.jpg");
      }
      .hisense{
        background-image: url("../images/hisense.jpg");
      }

    }
  }
}

//body
.main-content{
  width: 1200px;
  margin: 0 auto;
}
.main-show{
  width: 980px;
  height: 468px;
  margin-top:10px;
  position: relative;
  left: 220px;
}

.main-show-img-nums-on{
  background-color: #B1191A;
}
.main-show-img-nums-over{
  background-color: #333;
}
.main-show-img{
  width: 720px;
  height: 470px;
  float: left;
  overflow: hidden;
  background-color: #000;
  .main-show-img-items{
    width: 720px;
    height: 470px;
    position: relative;
    a{
      position: absolute;
    }
  }
  ul{
    margin-left: 290px;
    position: absolute;
    bottom: 10px;
    li{
      font-size: 12px;
      float: left;
      margin-right: 5px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      cursor: pointer;
    }
  }
  i{
    display: none;
    width: 30px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(0,0,0,.2);
    color: #fff;
    position: absolute;
    top:205px;
    cursor: pointer;
    &:hover{
      background-color: rgba(0,0,0,.6) ;
    }
  }
  .next{
    left: 690px;
  }

  &:hover{
    i{
      display: block;
    }
  }
}
.main-show-server{
  width: 247px;
  height: 374px;
  border: 1px solid #ccc;
  float: right;
  color: #666;
  background-color: #fff;
  font-size: 12px;
  border-collapse: collapse;
  div{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dashed #f0f0f0;
    span{
      font-size: 20px;
      margin: 8px 16px;
    }
    a{
      line-height: 32px;
      margin-right: 10px;
      float: right;
      i{
        margin-left: 8px;
      }
    }
  }

  .news{
    margin-top: 8px;
    li{
      line-height: 24px;
      margin-left: 12px;
    }
  }
  .servers{
    position: absolute;
    width: 248px;
    border-top: 1px solid #ccc;
    i{
      display: block;
      width: 24px;
      height: 26px;
      margin: 10px auto;
      background-image: url("../images/server.png");
    }
    .jipiao{
      background-position: 0 -25px;
    }
    .dianyingpiao{
      background-position: 0 -50px;
    }
    .youxi{
      background-position: 0 -75px;
    }
    .caipiao{
      background-position: 0 -100px;
    }
    .jiayouka{
      background-position: 0 -125px;
    }
    .jiudian{
      background-position: 0 -150px;
    }
    .huochepiao{
      background-position: 0 -175px;
    }
    .zhongchou{
      background-position: 0 -250px;
    }
    .licai{
      background-position: 0 -200px;
    }
    .lipinka{
      background-position: 0 -273px;
    }
    .baitiao{
      background-position: 0 -225px;
    }

    img{
      position: absolute;
      top:0;
      right:0;
    }
    li{
      float: left;
      width: 61px;
      height: 70px;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      text-align: center;
      position: relative;
    }
  }
  .main-show-ad{
    display: block;
    width: 249px;
    height: 75px;
    background-image: url("../images/nanzhuang.jpg");
    margin-top: 232px;
    margin-left: -1px;
  }
}
.main-show-2{
  height: 151px;
  margin-top: 10px;

  .unknow{
    width: 210px;
    height: 100%;
    background-color: #f00;
    background-image: url("../images/homebg.png");
    background-position: -213px -136px;
    float: left;
    cursor:pointer;
  }
  .show-image{
    width: 990px;
    float: right;
    position: relative;
    overflow: hidden;
    a{
      display: block;
      width: 247px;
      height: 151px;
      float: left;
      margin-right: 1px;
      background-position: top;
      background-repeat: no-repeat;
    }
    .show-image1 a{
      background-image: url("../images/g1.png");
    }
    .show-image2 a{
      background-image: url("../images/g2.png");
    }
    .show-image3 a{
      background-image: url("../images/g3.png");

    }
    .show-image4 a{
      background-image: url("../images/g4.png");
    }
    .show-image-list{
      width: 5024px;
    }
    .show-image-list{
      width: 4960px;
      position: relative;
    }
    li {
      width: 992px;
      height: 154px;
      float: left;
    }

    .left,.right{
      display: none;
      width: 32px;
      height: 80px;
      line-height: 80px;
      background-color: rgba(120,120,120,.6);
      color: #f8f8f8;
      font-size: 32px;
      text-align: center;
      cursor:pointer;
      position: absolute;
      top:42px;
    }
    .right{
      right: 0;
    }

    &:hover{
      .left,.right{
        display: block;
      }
    }
  }
}

//猜你喜欢
.tuijian{
  background-color: #fff;
  margin-top: 20px;
  overflow: hidden;
  .guess-title{
    font-size: 20px;
    position: relative;
    line-height: 40px;
    font-weight: 400;
    color: #333;
    a{
      font-size: 12px;
      float: right;
      &:hover{
        .guess-title-refresh{
          background-position: -351px -26px;
        }
      }
    }
    i{
      display: inline-block;
      background-image: url("../images/guess.png");
    }
    .guess-title-img{
      width: 226px;
      height: 17px;
      position: relative;
      top:3px;
      background-position: 0 -100px;
    }
    .guess-title-refresh{
      height: 21px;
      width: 21px;
      position: relative;
      top:3px;
      background-position: -351px -2px;
    }
    .guess-flash{
      height: 6px;
      width: 365px;
      background-position: 0 -124px;
      position: absolute;
      left: -365px;
      bottom: -4px;
    }
  }

  ul{
    height: 230px;
    border: 1px solid #dedede;
  }
  li{
    width: 199px;
    float: left;
    text-align: center;
    padding-top: 10px;
    div{
      height: 60px;
      margin-top: 20px;
      padding: 0 35px;
      text-align: left;
      color: #b51d1a;

      span{
        font-size: 1rem;
        font-weight: bold;
      }
      i{
        font-weight: bold;
      }
    }
    .bor-l{
      border-left: 1px solid #ccc;
    }
  }
}

//京东生活
.JD-live{

  .title{
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    margin-top: 10px;
  }

  .JD-live-content{
    height: 406px;
    overflow: hidden;
    border: 1px solid #dedede;

    >div{
      float: left;
      height: 100%;
      border-right: 1px solid #dedede;
      overflow: hidden;
      a{
        float: left;
        color: #333;
        font-weight: 400;
        div{
          position: absolute;
          margin: 45px 20px;
        }

        .tit{
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 8px;
        }
        .tex2{
          color: #d13c59;
          margin-top: 5px;
        }
      }
    }

    .mtit{
      font-size: 15px;
      line-height: 40px;
      margin: 0 20px;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px dashed #ccc;
    }

    .JD-live-d{
      width: 404px;
      background-color: #f7f7f7;
    }
    .JD-live-m{
      width: 230px;
    }

    .tit-u{
      border-bottom: 1px solid #dedede;
    }
    .tit-l{
      border-right:1px solid #dedede;
      height:185px;
    }
    .con-u{
      margin: 70px 20px;
    }

    ul{
      float: right;
      height: 380px;
      margin-top: 15px;
      li{
        border-bottom: 1px dashed #ccc ;
        margin-left:5px;
        height: 57px;
        position: relative;
        top:-15px;
      }

      .l-b{
        border-bottom: none;
      }
    }
    .JD-live-list1{
      border-left: 1px dashed #ccc;
      margin-right:5px;
    }
  }
}

.title-show{
  overflow: hidden;
  a{
    float: left;
    width: 400px;
    margin: 20px 0;
  }
}

/*左侧边栏*/
.content-floor{
  position: fixed;
  margin-left: -38px;
  top: 400px;
  overflow: hidden;
  font-size: 14px;
  i{
    display: block;
    width: 15px;
    border-bottom: 1px dotted #ccc;
    position: absolute;
    margin-left: 10px;
    margin-top: -1px;
  }
  li{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #fff;
    cursor: pointer;
    &:hover{
      .items{

        background-color: #f00;
        color: #fff;
        left:0;
      }
    }
  }

}
.items-t{
  left:0;
  background-color: #fff;
  color: #f00;
}
.items-o{
  left:-35px;
}
.items{
  display: block;
  width: 35px;
  position: relative;
  margin-top: -35px;
}

/* 右侧边栏*/
.right-side{
  width: 6px;
  height: 100%;
  background-color: #7a6e6e;
  position: fixed;
  z-index: 1000;
  right: 0;
  top:0;

  ul{
    width: 35px;
    position: absolute;
    left:-27px;
    bottom: 0;
    list-style: none;
    text-align: center;
    line-height: 35px;

    li{
      width: 35px;
      height: 35px;
      border-radius:3px 0 0 3px;
      background-color: #7a6e6e;
      margin-bottom: 1px;
      cursor:pointer;
      position: relative;
      &:hover{
        background-color: #c81623;
        .news-point{
          display: none;
        }
      }
    }
  }

  i{
    display: block;
    width: 35px;
    height: 35px;
    background-image: url("../images/rightSide.png");
  }
  .rside-icon1{background-position: -88px -175px; }
  .rside-icon2{background-position: -50px 0; }
  .rside-icon3{background-position: -50px -50px; }
  .rside-icon4{background-position: -50px -100px; }
  .rside-icon5{background-position: -190px -150px; }
  .rside-icon6{background-position: -50px -150px; }
  .rside-icon7{background-position: -50px -250px; }
  .rside-icon8{background-position: -50px -300px; }
  .news-point{
    height:6px;
    width:6px;
    background-position: -150px -150px;
    position: absolute;
    top:8px;left:19px;
  }
  #right-side1{
    margin-bottom: 150px;
  }
  .show{
    position: absolute;
    z-index: -1;
    top: 0;
    line-height: 35px;
    font-size: 12px;
    color: #fff;
    width: 80px;
    border-radius:3px 0 0 3px;
  }
}

.side-on{
  -webkit-animation: right-show .3s;
  -o-animation: right-show .3s;
  animation: right-show .3s;
  left:-78px;
  background-color: #c81623;
}
.side-out{
  -webkit-animation: right-hide .3s;
  -o-animation: right-hide .3s;
  animation: right-hide .3s;
  left:0;
  background-color: #7a6e6e;
}
@keyframes right-show {
  0%      {left: 0;background-color: #7a6e6e}
  100%    {left: -78px; background-color: #c81623}
}
@keyframes right-hide {
  0%      {left: -78px;background-color: #c81623}
  100%    {left: 0; background-color: #7a6e6e}
}


//fllors public
.floor-list-on{
  border-top: 3px solid #c81623;
  border-left: 1px solid #c81623;
  border-right: 1px solid #c81623;
  top:-3px;
  left: -1px;
  span{
    line-height: 39px;
    left: 2px;
  }
}

.floor-list-off{
  margin-top: 10px;
  //float: left;
  border-left: 1px solid #fff;
  border-right: 1px solid #ededed;
  left: 1px;
  span{
    line-height: 18px;
  }
}
.floors{display: none}
.floor-item{
  background-color: #fff;
  margin-bottom: 20px;
  .floor-item-t{
    height: 40px;
    position: relative;
    top:1px;
    >span{
      float: left;
      font-size: 20px;
    }
    ul{
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 1px;
      border:1px solid #ededed;
      border-bottom: none;
      height: 38px;
    }
    li{
      float: left;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      background-color: #fff;
      span{
        position: relative;
        padding: 0 16px;
      }
    }
    .f-t-l{
      display: inline-block;
      width: 31px;
      height: 25px;
      margin-right: 10px;
      font-size: 10px;
      text-align: left;
      color: #fff;
      line-height: 25px;
      position: relative;
      top:-5px;
      background-image: url("../images/floors-bg.png");
      span{
        position: relative;
        top:2px;
        left: 2px;
      }
    }
  }
  .f-t-l-off{
    background-position: 0 -35px;
  }
  .f-t-l-on{
    -webkit-animation: floor-num 1s;
    -o-animation: floor-num 1s;
    animation: floor-num 1s;
    background-position: 0 0;
  }
  @keyframes floor-num {
    0%      {background-position: 0 -25px}
    100%    {background-position: 0 0}
  }

  .floor-item-con{
    height: 632px;
    border:1px solid #dedede;
    border-top: 1px solid #c81623;
    position: relative;
    .f-i-c-l{
      float: left;
      position: relative;
      .f-l-list{
        overflow: hidden;
        width: 300px;
        padding-left: 30px;
        position: absolute;
        top:254px;
        background-color: rgba(255,255,255,.4);
        li{
          float: left;
          width: 100px;
          line-height: 40px;
          margin-bottom: 5px;
          i{
            display: inline-block;
            width: 26px;
            height: 26px;
            margin-right: 10px;
            position: relative;
            top:8px;
            background-image: url("../images/f1logo.png");
          }
        }
      }
      .f-i-c-l-a{
        height: 130px;
        width: 330px;
        background-color: rgba(255,255,255,.7);
        position: absolute;
        top:346px;
        div{
          padding: 24px;
          width: 117px;
          height: 17px;
          float: left;
        }
        a{
          display: inline-block;
          margin-right: 6px;
          margin-bottom: 10px;
          color: #999;
          &:hover{
            color: #c81623;
          }
        }
      }
      .f-i-l-b{
        border-right:1px solid #ededed;
        border-bottom:1px solid #ededed;
      }
    }
    .f-i-c-r{
      .f-f{
        //display: none;
        .f-i-r-l{
          float: left;
          >div{
            width: 426px;
            height: 317px;
            border-top: 1px solid #ededed;
            border-bottom: 1px solid #ededed;
          }
          .f-i-r-l-b{
            display: block;
            width: 426px;
            height: 156px;
            overflow: hidden;
          }
        }
        .f-i-r-list{
          position: absolute;
          top:0;
          right: 0;
          width: 442px;
          height: 632px;
          overflow: hidden;
          background-color: #fafafa;
          .li-m{
            height: 317px;
          }
          .li-b{
            margin-top: -159px;
          }
          li{
            border-left: 1px solid #ededed;
            border-bottom: 1px solid #ededed;
            height: 158px;
            width: 220px;
            overflow: hidden;
            float: left;
            position: relative;
            top:-1px;
            a{
              display: inline-block;
            }
          }
        }
      }

      .f-s{
        ul{
          position: relative;
          left: 1px;
        }
        li{
          width: 216px;
          float: left;
          border-right: 1px solid #ededed;
        }
        .f-s-u{
          li{
            height: 237px;
            border-bottom: 1px solid #ededed;
            div{
              width: 184px;
              margin: 20px auto;
            }
            img{
              margin-left: 27px;
              margin-bottom: 20px;
            }
            span{
              color: #e4393c;
              font-size: 16px;
              position: relative;
              left: 16px;
              top:-16px;
            }
          }
        }
        .f-s-d{
          li{
            height: 154px;
            overflow: hidden;
          }
        }
      }
    }
  }

  .f-i-b{
    width: 1200px;
    height: 62px;
    overflow: hidden;
    margin: 10px 0;
    .f-i-b-f{
      a{
        border-left: none;
      }
    }
    li{
      float: left;
      height: 40px;
      width: 120px;
      padding: 10px 0;
      background-color: #f7f7f7;
      a{
        display: block;
        width: 100px;
        height: 40px;
        padding: 0 10px;
        border-left: 1px dotted #ccc;
      }
    }
  }

}
.floor-imgs{
  position: relative;
  overflow: hidden;
  ul{
    width: 2130px;
    height: 317px;
    position: absolute;
    li{
      float: left;
      font-size: 3rem;
      text-align: center;
      background-color: #00acac;
      a{
        display: block;
        line-height: 317px;
        width: 426px;
      }
    }
  }
  span{
    display: block;
    width: 30px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    color: #fff;
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
    position: absolute;
    top:133px;
    &:hover{
      background-color: rgba(0,0,0,.3);
    }
  }
  .right{
    right: 0;
  }
  div{
    position: absolute;
    bottom: 10px;
    left: 180px;
    i{
      display: block;
      cursor: pointer;
      float: left;
      margin-right: 10px;
      height: 8px;
      width: 8px;
      border-radius: 50%;
    }
  }
}
.f-i-on{
  background-color: #B1191A;
}
.f-i-off{
  background-color: #ccc;
}


//tiantiandijia
.days-discount{

  >p{
    font-size: 1.2rem;
    color: #666;
    line-height: 2.4rem;
    .t{
      margin-left: 820px;
    }
  }
}
.days-all{
  width: 1200px;
  height: 284px;
  border: 1px solid #ededed;
  position: relative;
  overflow: hidden;
}
.days-con{
  height: 100%;
  float: left;
  ul{
    width: 900px;
    height: 100%;
    li{
      float: left;
      >a{
        position: relative;
      }
      div{
        text-align: left;
        i,span{
          color: #e12228;
          font-size: 1.2rem;
        }
        p{
          margin-bottom: .6rem;
        }
      }
    }
    .l1{
      width: 236px;
      text-align: center;
      padding-top: 20px;
      height: 100%;
      border-right: 1px solid #ededed;
      >a{
        margin-top: 20px;
      }
      div{
        margin: 30px;
      }

    }
    .l2{
      height: 102px;
      padding: 20px 10px;
      width: 198px;
      border-right: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      >a{
        float: left;
      }
      div{
        width: 94px;
        float: right;
      }
    }
  }
}
.days-show{
  float: right;
  width: 300px;
  ul{
    position: absolute;
    li{
      height: 142px;
      width: 300px;
      .lef{
        float: left;
        margin: 20px;
        img{
          width: 100px;
          height: 100px;
        }
      }
      .rig{
        float: right;
        width: 160px;
        padding-top: 20px;
        .t{
          span{
            position: relative;
            top:-12px;
            left: 6px;
          }
          img{
            width: 28px;
            height: 28px;
            border-radius: 50%;
          }
        }
        .b{
          display: block;
          padding: 10px 20px;
          width: 106px;
          height: 40px;
          background-color: #f8f8f8;
          position: relative;
          span{
            font-family: Arial;
            font-size: 38px;
            color: #999;
            position: absolute;
          }
          .b-l{
            left: 4px;
            top:4px;
          }
          .b-r{

          }
        }
      }

    }
  }
}


//foot
.foot{
  width: 100%;
  height: 94px;
  margin-top: 20px;
  background-color: #f5f5f5;
  color: #666;
}
.foot-con{
  width: 1200px;
  margin: 0 auto;
}
.foot-t{
  overflow: hidden;
  div{
    width: 300px;
    float: left;
    text-align: center;
    margin:20px 0;
  }
}
.foot-b{
  height: 184px;
  padding-top: 20px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
  dl{
    width: 200px;
    float: left;
    dt{
      font-size: 1rem;
      margin-bottom: 10px;
    }
    dd{
      line-height: 22px;
    }
  }
}
.foot-cover{
  width: 182px;
  height: 148px;
  padding: 10px;
  position: absolute;
  right:20px;
  background-image: url("../images2/cover.jpg");
  p{
    font-size: 1rem;
    margin-bottom: 20px;
  }
  a{
    display: block;
    float: right;
    margin-top: 20px;
  }
}
.foot-bot{
  text-align: center;
  padding-top: 10px;
}
.foot-links{
  line-height: 30px;
  font-size: 1.1em;
}
.copyright{
  line-height: 20px;
  img{
    position: relative;
    top:5px;
  }
}
.f-b-b{
  height: 60px;
  margin-top: 10px;
  a{
    margin-right: 10px;
  }
}