@charset "utf-8";
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666666;
}
a:hover {
  color: #ff0000;
}
em,
i,
u {
  font-style: normal;
}
body {
  font-family: "微软雅黑";
  font-size: 12px;
}
img {
  border: 0 none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.bg1 {
  background-color: #333333;
}
.bg2 {
  background-color: #b1191a;
}
.bg3 {
  background-color: #ffffff;
}
.top {
  min-width: 1200px;
  height: 32px;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
}
.top-content {
  width: 1200px;
  margin: 0 auto;
  color: #666;
  font-size: 12px;
}
.top-content .send {
  width: 110px;
  float: left;
  line-height: 32px;
  text-align: center;
  position: relative;
}
.top-content .send:hover .send-msg {
  background-color: #fff;
  border-right: 1px solid #ccc ;
  border-left: 1px solid #ccc;
  height: 33px;
  width: 108px;
  position: absolute;
  z-index: 100;
}
.top-content i {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: right;
  margin-right: 2px;
  margin-top: 10px;
  background-image: url("../images/down.png");
}
.top-list {
  list-style: none;
  float: right;
}
.top-list > li {
  width: 76px;
  line-height: 32px;
  margin-right: 4px;
  float: left;
  text-align: center;
  position: relative;
}
.i-up {
  -webkit-animation: rotJiantou .3s;
  -o-animation: rotJiantou .3s;
  animation: rotJiantou .3s;
  transform: rotate(180deg);
}
.i-down {
  -webkit-animation: rotJiantou2 .5s;
  -o-animation: rotJiantou2 .5s;
  animation: rotJiantou2 .5s;
  transform: rotate(0deg);
}
@keyframes rotJiantou {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotJiantou2 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.address-select {
  background-color: #f00;
  color: #fff;
}
.address-hover {
  background-color: #f0f0f0;
  color: #f00;
}
.address {
  position: absolute;
  z-index: 50;
  top: 32px;
  width: 280px;
  height: 250px;
  background-color: #fff;
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
}
.address li {
  float: left;
  width: 55px;
}
.address span {
  padding: 4px;
  cursor: pointer;
}
.space {
  display: block;
  width: 1px;
  height: 12px;
  margin-top: 5px;
  background-color: #ccc;
  position: absolute;
  top: 6px;
  left: -3px;
}
.myJD {
  position: absolute;
  left: -1px;
  z-index: 50;
  top: 32px;
  width: 265px;
  height: 205px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px 0 0 15px;
}
.myJD img {
  max-width: 100%;
}
.myJD .myJD-icon {
  display: block;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.myJD .myJD-login {
  width: 180px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  text-align: left;
  line-height: 2em;
}
.myJD .myJD-login span {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 10px;
  position: relative;
  top: 2px;
  background-color: #666;
}
.myJD li {
  width: 130px;
  float: left;
  text-align: left;
}
#list-myJD:hover {
  width: 74px;
  height: 33px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#list-myJD:hover .myJD {
  display: block;
  border-top: none;
  position: relative;
  top: 1px;
}
#list-JD-phone {
  width: 90px;
}
#list-JD-phone .jiantou {
  margin-right: 2px;
}
#list-JD-phone:hover {
  background-color: #fff;
  width: 88px;
  height: 33px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#list-JD-phone:hover #phone {
  margin-left: 1px;
  background-position: -2px -27px;
}
#list-JD-phone:hover .jiantou {
  margin-right: 1px;
}
#list-JD-phone:hover .JD-phone-content {
  display: block;
  border-top: none;
}
.JD-phone-content {
  position: absolute;
  left: -1px;
  z-index: 50;
  top: 33px;
  width: 250px;
  height: 195px;
  border: 1px solid #ccc;
  color: #f00;
  background-image: url("../images/JD-phone.png");
}
.JD-phone-content > div {
  width: 160px;
  height: 97px;
  float: right;
}
.floor span {
  position: relative;
  top: 6px;
  left: -14px;
}
.floor > a {
  display: block;
  width: 80px;
  height: 14px;
  position: relative;
  top: 8px;
  left: 9px;
}
.JD-phone-icon {
  height: 40px;
  width: auto;
}
.JD-phone-icon a {
  display: block;
  width: 33.3%;
  height: 100%;
  float: left;
}
#phone {
  display: block;
  width: 11px;
  height: 16px;
  float: left;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 8px;
  background-image: url("../images/phone.png");
  background-position: -2px -2px;
}
.watch-JD {
  position: relative;
  cursor: default;
}
.watch-JD div {
  position: absolute;
  left: -1px;
  z-index: 50;
  top: 33px;
  height: 97px;
  width: 74px;
  border: 1px solid #ccc;
  background-image: url("../images/JD.jpg");
  background-position: center;
  background-size: cover;
}
.watch-JD:hover {
  width: 74px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 33px;
}
.watch-JD:hover div {
  display: block;
  border-top: none;
}
.customer-server {
  position: relative;
  cursor: default;
  height: 33px;
}
.customer-server:hover {
  width: 74px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.customer-server:hover .customer-server-content {
  display: block;
  border-top: none;
}
.customer-server-content {
  height: 150px;
  position: absolute;
  left: -1px;
  z-index: 50;
  top: 33px;
  background-color: #fff;
  text-align: left;
  border: 1px solid #ccc;
}
.customer-server-content h3 {
  height: 20px;
}
.customer-server-content div {
  width: 140px;
  padding: 0 14px;
}
.customer-server-content li {
  float: left;
  width: 60px;
  height: 24px;
  margin-right: 10px;
}
.customer-server-content-1 {
  height: 100px;
  border-bottom: 1px dashed #ccc;
}
.JD-navi-content {
  position: relative;
  cursor: default;
}
.JD-navi-content:hover {
  width: 74px;
  height: 33px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.JD-navi-content:hover .JD-nav {
  display: block;
  border-top: none;
}
.JD-nav {
  position: absolute;
  left: -1117px;
  z-index: 50;
  top: 33px;
  width: 1150px;
  height: 190px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}
.JD-nav h3 {
  margin-bottom: 10px;
}
.JD-nav div {
  float: left;
  text-align: left;
}
.JD-nav li {
  padding: 0;
  width: 80px;
  float: left;
  text-align: left;
}
.JD-nav-1 {
  width: 320px;
}
.JD-nav-2,
.JD-nav-3,
.JD-nav-4 {
  width: 255px;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}
.title-ad {
  height: 130px;
  margin: 0 auto;
  border-bottom: 3px solid orange;
  background-color: #ffe4c4;
  font-size: 24px;
  color: #1d7ad9;
}
.title-ad .con {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}
.title-ad .con:hover .clo {
  display: block;
}
.title-ad .clo {
  display: none;
  font-size: 1rem;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.search {
  height: 144px;
  background-color: #fff;
  border-bottom: 2px solid #b1191a;
  font-size: 14px;
  color: #666;
  min-width: 1200px;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
}
.search-content {
  width: 1200px;
  height: 144px;
  margin: 0 auto;
  position: relative;
}
.logo {
  font-family: "宋体";
  width: 200px;
  height: 100px;
  margin-left: 20px;
  position: absolute;
  cursor: pointer;
}
.logo-text1 {
  font-size: 68px;
  font-weight: bold;
  color: #000;
  position: relative;
  top: -10px;
}
.logo-text2 {
  font-size: 24px;
  position: relative;
  top: -110px;
  left: 90px;
}
.search-box {
  width: 580px;
  height: 60px;
  margin: auto;
  position: relative;
  top: 30px;
}
.search-box #search-value {
  width: 455px;
  height: 32px;
  border: 2px solid #b61d1d;
  font-size: 20px;
  padding-left: 2px;
  outline: none;
  color: #666;
}
.search-box #search-btn {
  height: 38px;
  width: 80px;
  border: none;
  background-color: #b61d1d;
  color: #fff;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
  font-size: 20px;
  position: relative;
  margin-left: -7px;
  top: 2px;
  cursor: pointer;
}
.search-box p {
  margin-top: 10px;
}
.search-box a {
  font-size: 12px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.shopping-box {
  float: right;
  width: 140px;
  height: 36px;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 12px;
  line-height: 36px;
  position: absolute;
  top: 33px;
  right: 20px;
  margin-right: 60px;
}
.shopping-box .shopping-box-up {
  border: 1px solid #ccc;
  width: 140px;
  height: 36px;
  position: absolute;
}
.shopping-box .jiantou {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: right;
  position: relative;
  top: 10px;
  transform: rotate(-90deg);
  background-image: url("../images/down.png");
}
.shopping-box:hover .shopping-box-up {
  background-color: #fff;
  box-shadow: 0 -2 2px #999999;
  border-bottom: none;
  height: 38px;
  z-index: 50;
}
.shopping-box:hover .shopping-box-item {
  display: block;
  z-index: 10;
}
.shopping-box-item {
  display: none;
  width: 310px;
  height: 70px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  top: 38px;
  left: -170px;
  line-height: 70px;
  box-shadow: 0 0 2px #999;
}
.shopping-box-item img {
  float: left;
  margin: 10px 0 10px 60px;
}
.gouwuche {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: left;
  position: relative;
  top: 8px;
  left: 20px;
  background-image: url("../images/phone.png");
  background-position: -2px -56px;
}
.gouwuche-title {
  display: inline-block;
  position: absolute;
  top: -4px;
  height: 14px;
  font-size: 12px;
  line-height: 12px;
  min-width: 12px;
  text-align: center;
  padding: 1px 2px;
  color: #fff;
  background-color: #c81623;
  border-radius: 7px 7px 7px 0;
  cursor: default;
}
.all-sell {
  width: 190px;
  height: 45px;
  padding-left: 20px;
  background-color: #b1191a;
  color: #fff;
  line-height: 45px;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.all-sell span {
  cursor: pointer;
}
.title-list {
  margin-left: 220px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 0;
}
.title-list li {
  float: left;
  width: 70px;
  margin-right: 8px;
}
.all-list {
  top: 45px;
  left: 0;
  z-index: 20;
}
.all-list > li {
  font-size: 14px;
  width: 188px;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #c81623;
  background-color: #c81623;
  margin-left: -20px;
}
.all-list > li > a {
  color: #fff;
}
.all-list > li:hover {
  border-right: none;
  background-color: #fff;
}
.all-list > li:hover > a {
  color: #c81623;
}
.all-list > li:hover .hov {
  display: inline-block;
  width: 2px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 50;
  left: 209px;
}
.all-list i {
  float: right;
  font-size: 14px;
  margin-right: 6px;
}
.all-list-content {
  width: 980px;
  line-height: 30px;
  overflow: hidden;
  background-color: #fff;
  color: #333;
  margin-left: 189px;
  margin-top: 45px;
  padding: 20px;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 20px;
  border: 1px solid #c81623;
  font-size: 12px;
}
.all-list-content ul {
  font-size: 14px;
}
.all-list-content ul li {
  float: left;
  height: 26px;
  line-height: 26px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #999;
  color: #fff;
}
.all-list-content ul li a {
  color: #fff;
  padding: 0 4px;
}
.all-list-content ul li i {
  display: block;
  float: right;
  width: 26px;
  height: 26px;
  margin-right: 0;
  background-color: #666;
  text-align: center;
}
.all-list-content ul li:hover {
  background-color: #c81623;
}
.all-list-content ul li:hover i {
  background-color: #b1191a;
}
.all-list-content dt {
  width: 70px;
  font-weight: bold;
  text-align: right;
  line-height: 36px;
  margin-bottom: 5px;
}
.all-list-content dt i {
  margin-left: 5px;
}
.all-list-content dd {
  width: 640px;
  float: left;
  margin-left: 80px;
  margin-top: -40px;
  padding: 4px 0;
  border-bottom: 1px solid #f3f3f3;
}
.all-list-content dd a {
  display: block;
  float: left;
  line-height: 16px;
  padding: 0 8px;
  margin: 4px 0;
  border-left: 1px solid #e0e0e0;
}
.all-list-content .all-list-content-show {
  width: 168px;
  position: absolute;
  right: 20px;
  top: 16px;
}
.all-list-content .all-list-content-show > a {
  display: block;
  width: 168px;
  height: 134px;
}
.all-list-content .all-list-content-show .butie {
  margin-top: 150px;
  margin-bottom: 1px;
  background-image: url("../images/butie.jpg");
}
.all-list-content .all-list-content-show .game {
  background-image: url("../images/game.jpg");
}
.all-list-content .all-list-content-show div a {
  display: block;
  width: 83px;
  height: 35px;
  float: left;
  margin: 0 1px 1px 0;
}
.all-list-content .all-list-content-show div .meidi {
  background-image: url("../images/meidi.jpg");
}
.all-list-content .all-list-content-show div .leshi {
  background-image: url("../images/leshi.jpg");
}
.all-list-content .all-list-content-show div .simens {
  background-image: url("../images/simens.jpg");
}
.all-list-content .all-list-content-show div .gree {
  background-image: url("../images/gree.jpg");
}
.all-list-content .all-list-content-show div .joyoung {
  background-image: url("../images/joyoung.jpg");
}
.all-list-content .all-list-content-show div .philips {
  background-image: url("../images/philips.jpg");
}
.all-list-content .all-list-content-show div .robam {
  background-image: url("../images/robam.jpg");
}
.all-list-content .all-list-content-show div .hisense {
  background-image: url("../images/hisense.jpg");
}
.main-content {
  width: 1200px;
  margin: 0 auto;
}
.main-show {
  width: 980px;
  height: 468px;
  margin-top: 10px;
  position: relative;
  left: 220px;
}
.main-show-img-nums-on {
  background-color: #B1191A;
}
.main-show-img-nums-over {
  background-color: #333;
}
.main-show-img {
  width: 720px;
  height: 470px;
  float: left;
  overflow: hidden;
  background-color: #000;
}
.main-show-img .main-show-img-items {
  width: 720px;
  height: 470px;
  position: relative;
}
.main-show-img .main-show-img-items a {
  position: absolute;
}
.main-show-img ul {
  margin-left: 290px;
  position: absolute;
  bottom: 10px;
}
.main-show-img ul li {
  font-size: 12px;
  float: left;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.main-show-img i {
  display: none;
  width: 30px;
  height: 60px;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  position: absolute;
  top: 205px;
  cursor: pointer;
}
.main-show-img i:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.main-show-img .next {
  left: 690px;
}
.main-show-img:hover i {
  display: block;
}
.main-show-server {
  width: 247px;
  height: 374px;
  border: 1px solid #ccc;
  float: right;
  color: #666;
  background-color: #fff;
  font-size: 12px;
  border-collapse: collapse;
}
.main-show-server div {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px dashed #f0f0f0;
}
.main-show-server div span {
  font-size: 20px;
  margin: 8px 16px;
}
.main-show-server div a {
  line-height: 32px;
  margin-right: 10px;
  float: right;
}
.main-show-server div a i {
  margin-left: 8px;
}
.main-show-server .news {
  margin-top: 8px;
}
.main-show-server .news li {
  line-height: 24px;
  margin-left: 12px;
}
.main-show-server .servers {
  position: absolute;
  width: 248px;
  border-top: 1px solid #ccc;
}
.main-show-server .servers i {
  display: block;
  width: 24px;
  height: 26px;
  margin: 10px auto;
  background-image: url("../images/server.png");
}
.main-show-server .servers .jipiao {
  background-position: 0 -25px;
}
.main-show-server .servers .dianyingpiao {
  background-position: 0 -50px;
}
.main-show-server .servers .youxi {
  background-position: 0 -75px;
}
.main-show-server .servers .caipiao {
  background-position: 0 -100px;
}
.main-show-server .servers .jiayouka {
  background-position: 0 -125px;
}
.main-show-server .servers .jiudian {
  background-position: 0 -150px;
}
.main-show-server .servers .huochepiao {
  background-position: 0 -175px;
}
.main-show-server .servers .zhongchou {
  background-position: 0 -250px;
}
.main-show-server .servers .licai {
  background-position: 0 -200px;
}
.main-show-server .servers .lipinka {
  background-position: 0 -273px;
}
.main-show-server .servers .baitiao {
  background-position: 0 -225px;
}
.main-show-server .servers img {
  position: absolute;
  top: 0;
  right: 0;
}
.main-show-server .servers li {
  float: left;
  width: 61px;
  height: 70px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  position: relative;
}
.main-show-server .main-show-ad {
  display: block;
  width: 249px;
  height: 75px;
  background-image: url("../images/nanzhuang.jpg");
  margin-top: 232px;
  margin-left: -1px;
}
.main-show-2 {
  height: 151px;
  margin-top: 10px;
}
.main-show-2 .unknow {
  width: 210px;
  height: 100%;
  background-color: #f00;
  background-image: url("../images/homebg.png");
  background-position: -213px -136px;
  float: left;
  cursor: pointer;
}
.main-show-2 .show-image {
  width: 990px;
  float: right;
  position: relative;
  overflow: hidden;
}
.main-show-2 .show-image a {
  display: block;
  width: 247px;
  height: 151px;
  float: left;
  margin-right: 1px;
  background-position: top;
  background-repeat: no-repeat;
}
.main-show-2 .show-image .show-image1 a {
  background-image: url("../images/g1.png");
}
.main-show-2 .show-image .show-image2 a {
  background-image: url("../images/g2.png");
}
.main-show-2 .show-image .show-image3 a {
  background-image: url("../images/g3.png");
}
.main-show-2 .show-image .show-image4 a {
  background-image: url("../images/g4.png");
}
.main-show-2 .show-image .show-image-list {
  width: 5024px;
}
.main-show-2 .show-image .show-image-list {
  width: 4960px;
  position: relative;
}
.main-show-2 .show-image li {
  width: 992px;
  height: 154px;
  float: left;
}
.main-show-2 .show-image .left,
.main-show-2 .show-image .right {
  display: none;
  width: 32px;
  height: 80px;
  line-height: 80px;
  background-color: rgba(120, 120, 120, 0.6);
  color: #f8f8f8;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 42px;
}
.main-show-2 .show-image .right {
  right: 0;
}
.main-show-2 .show-image:hover .left,
.main-show-2 .show-image:hover .right {
  display: block;
}
.tuijian {
  background-color: #fff;
  margin-top: 20px;
  overflow: hidden;
}
.tuijian .guess-title {
  font-size: 20px;
  position: relative;
  line-height: 40px;
  font-weight: 400;
  color: #333;
}
.tuijian .guess-title a {
  font-size: 12px;
  float: right;
}
.tuijian .guess-title a:hover .guess-title-refresh {
  background-position: -351px -26px;
}
.tuijian .guess-title i {
  display: inline-block;
  background-image: url("../images/guess.png");
}
.tuijian .guess-title .guess-title-img {
  width: 226px;
  height: 17px;
  position: relative;
  top: 3px;
  background-position: 0 -100px;
}
.tuijian .guess-title .guess-title-refresh {
  height: 21px;
  width: 21px;
  position: relative;
  top: 3px;
  background-position: -351px -2px;
}
.tuijian .guess-title .guess-flash {
  height: 6px;
  width: 365px;
  background-position: 0 -124px;
  position: absolute;
  left: -365px;
  bottom: -4px;
}
.tuijian ul {
  height: 230px;
  border: 1px solid #dedede;
}
.tuijian li {
  width: 199px;
  float: left;
  text-align: center;
  padding-top: 10px;
}
.tuijian li div {
  height: 60px;
  margin-top: 20px;
  padding: 0 35px;
  text-align: left;
  color: #b51d1a;
}
.tuijian li div span {
  font-size: 1rem;
  font-weight: bold;
}
.tuijian li div i {
  font-weight: bold;
}
.tuijian li .bor-l {
  border-left: 1px solid #ccc;
}
.JD-live .title {
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 10px;
}
.JD-live .JD-live-content {
  height: 406px;
  overflow: hidden;
  border: 1px solid #dedede;
}
.JD-live .JD-live-content > div {
  float: left;
  height: 100%;
  border-right: 1px solid #dedede;
  overflow: hidden;
}
.JD-live .JD-live-content > div a {
  float: left;
  color: #333;
  font-weight: 400;
}
.JD-live .JD-live-content > div a div {
  position: absolute;
  margin: 45px 20px;
}
.JD-live .JD-live-content > div a .tit {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}
.JD-live .JD-live-content > div a .tex2 {
  color: #d13c59;
  margin-top: 5px;
}
.JD-live .JD-live-content .mtit {
  font-size: 15px;
  line-height: 40px;
  margin: 0 20px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px dashed #ccc;
}
.JD-live .JD-live-content .JD-live-d {
  width: 404px;
  background-color: #f7f7f7;
}
.JD-live .JD-live-content .JD-live-m {
  width: 230px;
}
.JD-live .JD-live-content .tit-u {
  border-bottom: 1px solid #dedede;
}
.JD-live .JD-live-content .tit-l {
  border-right: 1px solid #dedede;
  height: 185px;
}
.JD-live .JD-live-content .con-u {
  margin: 70px 20px;
}
.JD-live .JD-live-content ul {
  float: right;
  height: 380px;
  margin-top: 15px;
}
.JD-live .JD-live-content ul li {
  border-bottom: 1px dashed #ccc ;
  margin-left: 5px;
  height: 57px;
  position: relative;
  top: -15px;
}
.JD-live .JD-live-content ul .l-b {
  border-bottom: none;
}
.JD-live .JD-live-content .JD-live-list1 {
  border-left: 1px dashed #ccc;
  margin-right: 5px;
}
.title-show {
  overflow: hidden;
}
.title-show a {
  float: left;
  width: 400px;
  margin: 20px 0;
}
/*左侧边栏*/
.content-floor {
  position: fixed;
  margin-left: -38px;
  bottom: 200px;
  overflow: hidden;
  font-size: 14px;
}
.content-floor i {
  display: block;
  width: 15px;
  border-bottom: 1px dotted #ccc;
  position: absolute;
  margin-left: 10px;
  margin-top: -1px;
}
.content-floor li {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #fff;
  cursor: pointer;
}
.content-floor li:hover .items {
  background-color: #f00;
  color: #fff;
  left: 0;
}
.items-t {
  left: 0;
  background-color: #fff;
  color: #f00;
}
.items-o {
  left: -35px;
}
.items {
  display: block;
  width: 35px;
  position: relative;
  margin-top: -35px;
}
/* 右侧边栏*/
.right-side {
  width: 6px;
  height: 100%;
  background-color: #7a6e6e;
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
}
.right-side ul {
  width: 35px;
  position: absolute;
  left: -27px;
  bottom: 0;
  list-style: none;
  text-align: center;
  line-height: 35px;
}
.right-side ul li {
  width: 35px;
  height: 35px;
  border-radius: 3px 0 0 3px;
  background-color: #7a6e6e;
  margin-bottom: 1px;
  cursor: pointer;
  position: relative;
}
.right-side ul li:hover {
  background-color: #c81623;
}
.right-side ul li:hover .news-point {
  display: none;
}
.right-side i {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("../images/rightSide.png");
}
.right-side .rside-icon1 {
  background-position: -88px -175px;
}
.right-side .rside-icon2 {
  background-position: -50px 0;
}
.right-side .rside-icon3 {
  background-position: -50px -50px;
}
.right-side .rside-icon4 {
  background-position: -50px -100px;
}
.right-side .rside-icon5 {
  background-position: -190px -150px;
}
.right-side .rside-icon6 {
  background-position: -50px -150px;
}
.right-side .rside-icon7 {
  background-position: -50px -250px;
}
.right-side .rside-icon8 {
  background-position: -50px -300px;
}
.right-side .news-point {
  height: 6px;
  width: 6px;
  background-position: -150px -150px;
  position: absolute;
  top: 8px;
  left: 19px;
}
.right-side #right-side1 {
  margin-bottom: 150px;
}
.right-side .show {
  position: absolute;
  z-index: -1;
  top: 0;
  line-height: 35px;
  font-size: 12px;
  color: #fff;
  width: 80px;
  border-radius: 3px 0 0 3px;
}
.side-on {
  -webkit-animation: right-show 0.3s;
  -o-animation: right-show 0.3s;
  animation: right-show 0.3s;
  left: -78px;
  background-color: #c81623;
}
.side-out {
  -webkit-animation: right-hide 0.3s;
  -o-animation: right-hide 0.3s;
  animation: right-hide 0.3s;
  left: 0;
  background-color: #7a6e6e;
}
@keyframes right-show {
  0% {
    left: 0;
    background-color: #7a6e6e;
  }
  100% {
    left: -78px;
    background-color: #c81623;
  }
}
@keyframes right-hide {
  0% {
    left: -78px;
    background-color: #c81623;
  }
  100% {
    left: 0;
    background-color: #7a6e6e;
  }
}
.floor-list-on {
  border-top: 3px solid #c81623;
  border-left: 1px solid #c81623;
  border-right: 1px solid #c81623;
  top: -3px;
  left: -1px;
}
.floor-list-on span {
  line-height: 39px;
  left: 2px;
}
.floor-list-off {
  margin-top: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #ededed;
  left: 1px;
}
.floor-list-off span {
  line-height: 18px;
}
.floors {
  display: none;
}
.floor-item {
  background-color: #fff;
  margin-bottom: 20px;
}
.floor-item .floor-item-t {
  height: 40px;
  position: relative;
  top: 1px;
}
.floor-item .floor-item-t > span {
  float: left;
  font-size: 20px;
}
.floor-item .floor-item-t ul {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 1px;
  border: 1px solid #ededed;
  border-bottom: none;
  height: 38px;
}
.floor-item .floor-item-t li {
  float: left;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}
.floor-item .floor-item-t li span {
  position: relative;
  padding: 0 16px;
}
.floor-item .floor-item-t .f-t-l {
  display: inline-block;
  width: 31px;
  height: 25px;
  margin-right: 10px;
  font-size: 10px;
  text-align: left;
  color: #fff;
  line-height: 25px;
  position: relative;
  top: -5px;
  background-image: url("../images/floors-bg.png");
}
.floor-item .floor-item-t .f-t-l span {
  position: relative;
  top: 2px;
  left: 2px;
}
.floor-item .f-t-l-off {
  background-position: 0 -35px;
}
.floor-item .f-t-l-on {
  -webkit-animation: floor-num 1s;
  -o-animation: floor-num 1s;
  animation: floor-num 1s;
  background-position: 0 0;
}
@keyframes floor-num {
  0% {
    background-position: 0 -25px;
  }
  100% {
    background-position: 0 0;
  }
}
.floor-item .floor-item-con {
  height: 632px;
  border: 1px solid #dedede;
  border-top: 1px solid #c81623;
  position: relative;
}
.floor-item .floor-item-con .f-i-c-l {
  float: left;
  position: relative;
}
.floor-item .floor-item-con .f-i-c-l .f-l-list {
  overflow: hidden;
  width: 300px;
  padding-left: 30px;
  position: absolute;
  top: 254px;
  background-color: rgba(255, 255, 255, 0.4);
}
.floor-item .floor-item-con .f-i-c-l .f-l-list li {
  float: left;
  width: 100px;
  line-height: 40px;
  margin-bottom: 5px;
}
.floor-item .floor-item-con .f-i-c-l .f-l-list li i {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  position: relative;
  top: 8px;
  background-image: url("../images/f1logo.png");
}
.floor-item .floor-item-con .f-i-c-l .f-i-c-l-a {
  height: 130px;
  width: 330px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 346px;
}
.floor-item .floor-item-con .f-i-c-l .f-i-c-l-a div {
  padding: 24px;
  width: 117px;
  height: 17px;
  float: left;
}
.floor-item .floor-item-con .f-i-c-l .f-i-c-l-a a {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 10px;
  color: #999;
}
.floor-item .floor-item-con .f-i-c-l .f-i-c-l-a a:hover {
  color: #c81623;
}
.floor-item .floor-item-con .f-i-c-l .f-i-l-b {
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.floor-item .floor-item-con .f-i-c-r .f-f .f-i-r-l {
  float: left;
}
.floor-item .floor-item-con .f-i-c-r .f-f .f-i-r-l > div {
  width: 426px;
  height: 317px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.floor-item .floor-item-con .f-i-c-r .f-f .f-i-r-l .f-i-r-l-b {
  display: block;
  width: 426px;
  height: 156px;
  overflow: hidden;
}
.floor-item .floor-item-con .f-i-c-r .f-f .f-i-r-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 442px;
  height: 632px;
  overflow: hidden;
  background-color: #fafafa;
}
.floor-item .floor-item-con .f-i-c-r .f-f .f-i-r-list .li-m {
  height: 317px;
}
.floor-item .floor-item-con .f-i-c-r .f-f .f-i-r-list .li-b {
  margin-top: -159px;
}
.floor-item .floor-item-con .f-i-c-r .f-f .f-i-r-list li {
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 158px;
  width: 220px;
  overflow: hidden;
  float: left;
  position: relative;
  top: -1px;
}
.floor-item .floor-item-con .f-i-c-r .f-f .f-i-r-list li a {
  display: inline-block;
}
.floor-item .floor-item-con .f-i-c-r .f-s ul {
  position: relative;
  left: 1px;
}
.floor-item .floor-item-con .f-i-c-r .f-s li {
  width: 216px;
  float: left;
  border-right: 1px solid #ededed;
}
.floor-item .floor-item-con .f-i-c-r .f-s .f-s-u li {
  height: 237px;
  border-bottom: 1px solid #ededed;
}
.floor-item .floor-item-con .f-i-c-r .f-s .f-s-u li div {
  width: 184px;
  margin: 20px auto;
}
.floor-item .floor-item-con .f-i-c-r .f-s .f-s-u li img {
  margin-left: 27px;
  margin-bottom: 20px;
}
.floor-item .floor-item-con .f-i-c-r .f-s .f-s-u li span {
  color: #e4393c;
  font-size: 16px;
  position: relative;
  left: 16px;
  top: -16px;
}
.floor-item .floor-item-con .f-i-c-r .f-s .f-s-d li {
  height: 154px;
  overflow: hidden;
}
.floor-item .f-i-b {
  width: 1200px;
  height: 62px;
  overflow: hidden;
  margin: 10px 0;
}
.floor-item .f-i-b .f-i-b-f a {
  border-left: none;
}
.floor-item .f-i-b li {
  float: left;
  height: 40px;
  width: 120px;
  padding: 10px 0;
  background-color: #f7f7f7;
}
.floor-item .f-i-b li a {
  display: block;
  width: 100px;
  height: 40px;
  padding: 0 10px;
  border-left: 1px dotted #ccc;
}
.floor-imgs {
  position: relative;
  overflow: hidden;
}
.floor-imgs ul {
  width: 2130px;
  height: 317px;
  position: absolute;
}
.floor-imgs ul li {
  float: left;
  font-size: 3rem;
  text-align: center;
  background-color: #00acac;
}
.floor-imgs ul li a {
  display: block;
  line-height: 317px;
  width: 426px;
}
.floor-imgs span {
  display: block;
  width: 30px;
  line-height: 50px;
  text-align: center;
  font-size: 2em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 133px;
}
.floor-imgs span:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.floor-imgs .right {
  right: 0;
}
.floor-imgs div {
  position: absolute;
  bottom: 10px;
  left: 180px;
}
.floor-imgs div i {
  display: block;
  cursor: pointer;
  float: left;
  margin-right: 10px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
.f-i-on {
  background-color: #B1191A;
}
.f-i-off {
  background-color: #ccc;
}
.days-discount > p {
  font-size: 1.2rem;
  color: #666;
  line-height: 2.4rem;
}
.days-discount > p .t {
  margin-left: 820px;
}
.days-all {
  width: 1200px;
  height: 284px;
  border: 1px solid #ededed;
  position: relative;
  overflow: hidden;
}
.days-con {
  height: 100%;
  float: left;
}
.days-con ul {
  width: 900px;
  height: 100%;
}
.days-con ul li {
  float: left;
}
.days-con ul li > a {
  position: relative;
}
.days-con ul li div {
  text-align: left;
}
.days-con ul li div i,
.days-con ul li div span {
  color: #e12228;
  font-size: 1.2rem;
}
.days-con ul li div p {
  margin-bottom: .6rem;
}
.days-con ul .l1 {
  width: 236px;
  text-align: center;
  padding-top: 20px;
  height: 100%;
  border-right: 1px solid #ededed;
}
.days-con ul .l1 > a {
  margin-top: 20px;
}
.days-con ul .l1 div {
  margin: 30px;
}
.days-con ul .l2 {
  height: 102px;
  padding: 20px 10px;
  width: 198px;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.days-con ul .l2 > a {
  float: left;
}
.days-con ul .l2 div {
  width: 94px;
  float: right;
}
.days-show {
  float: right;
  width: 300px;
}
.days-show ul {
  position: absolute;
}
.days-show ul li {
  height: 142px;
  width: 300px;
}
.days-show ul li .lef {
  float: left;
  margin: 20px;
}
.days-show ul li .lef img {
  width: 100px;
  height: 100px;
}
.days-show ul li .rig {
  float: right;
  width: 160px;
  padding-top: 20px;
}
.days-show ul li .rig .t span {
  position: relative;
  top: -12px;
  left: 6px;
}
.days-show ul li .rig .t img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.days-show ul li .rig .b {
  display: block;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
  background-color: #f8f8f8;
  position: relative;
}
.days-show ul li .rig .b span {
  font-family: Arial;
  font-size: 38px;
  color: #999;
  position: absolute;
}
.days-show ul li .rig .b .b-l {
  left: 4px;
  top: 4px;
}
.foot {
  width: 100%;
  height: 94px;
  margin-top: 20px;
  background-color: #f5f5f5;
  color: #666;
}
.foot-con {
  width: 1200px;
  margin: 0 auto;
}
.foot-t {
  overflow: hidden;
}
.foot-t div {
  width: 300px;
  float: left;
  text-align: center;
  margin: 20px 0;
}
.foot-b {
  height: 184px;
  padding-top: 20px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}
.foot-b dl {
  width: 200px;
  float: left;
}
.foot-b dl dt {
  font-size: 1rem;
  margin-bottom: 10px;
}
.foot-b dl dd {
  line-height: 22px;
}
.foot-cover {
  width: 182px;
  height: 148px;
  padding: 10px;
  position: absolute;
  right: 20px;
  background-image: url("../images2/cover.jpg");
}
.foot-cover p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.foot-cover a {
  display: block;
  float: right;
  margin-top: 20px;
}
.foot-bot {
  text-align: center;
  padding-top: 10px;
}
.foot-links {
  line-height: 30px;
  font-size: 1.1em;
}
.copyright {
  line-height: 20px;
}
.copyright img {
  position: relative;
  top: 5px;
}
.f-b-b {
  height: 60px;
  margin-top: 10px;
}
.f-b-b a {
  margin-right: 10px;
}
