#gopng_scrollbar_outer {
height: 544px;
width: 7px;
overflow: hidden;
}
#gopng_scrollbar {
background: url(http://gopng/static/images/sprite.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_jiangbei_outer {
height: 205px;
width: 351px;
overflow: hidden;
}
#gopng_jiangbei {
background: url(http://gopng/static/images/sprite.png) -7px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 7px;
_margin-left: -7px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_item_outer {
height: 136px;
width: 136px;
overflow: hidden;
}
#gopng_item {
background: url(http://gopng/static/images/sprite.png) -358px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 358px;
_margin-left: -358px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_tousi_outer {
height: 87px;
width: 490px;
overflow: hidden;
}
#gopng_tousi {
background: url(http://gopng/static/images/sprite.png) -7px -205px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 7px;
_margin-left: -7px;
_padding-top: 205px;
_margin-top: -205px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_share_outer {
height: 86px;
width: 271px;
overflow: hidden;
}
#gopng_share {
background: url(http://gopng/static/images/sprite.png) -7px -292px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 7px;
_margin-left: -7px;
_padding-top: 292px;
_margin-top: -292px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_again_outer {
height: 86px;
width: 271px;
overflow: hidden;
}
#gopng_again {
background: url(http://gopng/static/images/sprite.png) -278px -292px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 278px;
_margin-left: -278px;
_padding-top: 292px;
_margin-top: -292px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_sanjiaoxing_outer {
height: 56px;
width: 28px;
overflow: hidden;
}
#gopng_sanjiaoxing {
background: url(http://gopng/static/images/sprite.png) -494px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 494px;
_margin-left: -494px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_start_outer {
height: 52px;
width: 52px;
overflow: hidden;
}
#gopng_start {
background: url(http://gopng/static/images/sprite.png) -508px -154px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 508px;
_margin-left: -508px;
_padding-top: 154px;
_margin-top: -154px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_home_outer {
height: 42px;
width: 51px;
overflow: hidden;
}
#gopng_home {
background: url(http://gopng/static/images/sprite.png) -494px -56px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 494px;
_margin-left: -494px;
_padding-top: 56px;
_margin-top: -56px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_right_outer {
height: 40px;
width: 24px;
overflow: hidden;
}
#gopng_right {
background: url(http://gopng/static/images/sprite.png) -574px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 574px;
_margin-left: -574px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_juxing_outer {
height: 40px;
width: 39px;
overflow: hidden;
}
#gopng_juxing {
background: url(http://gopng/static/images/sprite.png) -545px -56px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 545px;
_margin-left: -545px;
_padding-top: 56px;
_margin-top: -56px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_yuan_outer {
height: 40px;
width: 40px;
overflow: hidden;
}
#gopng_yuan {
background: url(http://gopng/static/images/sprite.png) -358px -136px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 358px;
_margin-left: -358px;
_padding-top: 136px;
_margin-top: -136px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_gantanhao_outer {
height: 40px;
width: 40px;
overflow: hidden;
}
#gopng_gantanhao {
background: url(http://gopng/static/images/sprite.png) -398px -136px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 398px;
_margin-left: -398px;
_padding-top: 136px;
_margin-top: -136px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_wrong_outer {
height: 36px;
width: 36px;
overflow: hidden;
}
#gopng_wrong {
background: url(http://gopng/static/images/sprite.png) -494px -98px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 494px;
_margin-left: -494px;
_padding-top: 98px;
_margin-top: -98px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_toupiao3_outer {
height: 30px;
width: 30px;
overflow: hidden;
}
#gopng_toupiao3 {
background: url(http://gopng/static/images/sprite.png) -530px -98px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 530px;
_margin-left: -530px;
_padding-top: 98px;
_margin-top: -98px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_toupiao4_outer {
height: 30px;
width: 30px;
overflow: hidden;
}
#gopng_toupiao4 {
background: url(http://gopng/static/images/sprite.png) -560px -98px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 560px;
_margin-left: -560px;
_padding-top: 98px;
_margin-top: -98px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_toupiao1_outer {
height: 30px;
width: 30px;
overflow: hidden;
}
#gopng_toupiao1 {
background: url(http://gopng/static/images/sprite.png) -438px -136px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 438px;
_margin-left: -438px;
_padding-top: 136px;
_margin-top: -136px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_toupiao2_outer {
height: 30px;
width: 30px;
overflow: hidden;
}
#gopng_toupiao2 {
background: url(http://gopng/static/images/sprite.png) -468px -136px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 468px;
_margin-left: -468px;
_padding-top: 136px;
_margin-top: -136px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_yuandian2_outer {
height: 18px;
width: 17px;
overflow: hidden;
}
#gopng_yuandian2 {
background: url(http://gopng/static/images/sprite.png) -498px -136px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 498px;
_margin-left: -498px;
_padding-top: 136px;
_margin-top: -136px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_yuandian1_outer {
height: 18px;
width: 18px;
overflow: hidden;
}
#gopng_yuandian1 {
background: url(http://gopng/static/images/sprite.png) -515px -136px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 515px;
_margin-left: -515px;
_padding-top: 136px;
_margin-top: -136px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_xiangxiasanjiaoxing_outer {
height: 13px;
width: 15px;
overflow: hidden;
}
#gopng_xiangxiasanjiaoxing {
background: url(http://gopng/static/images/sprite.png) -584px -56px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 584px;
_margin-left: -584px;
_padding-top: 56px;
_margin-top: -56px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_hengxian_outer {
height: 4px;
width: 34px;
overflow: hidden;
}
#gopng_hengxian {
background: url(http://gopng/static/images/sprite.png) -565px -136px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 565px;
_margin-left: -565px;
_padding-top: 136px;
_margin-top: -136px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
