<<<<<<< HEAD
.main,.left,.right,.middle{
    border: 1px solid #999999;
=======
div{
    border:1px solid black;
>>>>>>> origin/master
}
.main{
    background-color: #eeeeee;
    padding: 20px;
    height:auto;
}
.left{
    background-color: white;
    width: 200px;
    float: left;
}
.left div{
    float: left;
}
.left-left{
    margin: 20px;
}
.middle{
    margin: 0 160px 0 240px;
    background-color: white;
}
.right{
    text-align: center;
    background-color: white;
    width: 120px;
    float: right;
}
.foot{
    clear: both;
}
