* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #29bde0;
    min-width: 648px;
}

.top {
    height: 96px;
    line-height: 96px;
    color: white;
    text-align: center;
    font-size: 36px;
}

.list, .cancel, .run, .xiasanjiao, .item-bg, #item-bg-2 div, .tousi {
    background-image: url(sprite/sprite.png);
}

.list {
    height: 40px;
    width: 39px;
    float: left;
    background-position: -545px -56px;
    position: relative;
    top: 28px;
    left: 22px;
}

.cancel {
    height: 36px;
    width: 36px;
    float: right;
    background-position: -494px -98px;
    position: relative;
    top: 30px;
    right: 22px;
}

.toupiao {
    font-size: 24px;
    height: 82px;
    line-height: 82px;
    padding-left: 42px;
    background-color: #b9e9f5;
    color: #464646
}

.run {
    height: 52px;
    width: 52px;
    background-position: -508px -154px;
    float: right;
    margin: 16px;
}

.xiasanjiao {
    width: 15px;
    height: 13px;
    background-position: -584px -56px;
    margin-left: 48px;
}

.dianji {
    display: block;
    color: #fff;
    font-size: 24px;
    margin: 20px 0 46px 90px;
}

.items {
    padding: 0 5px;
}

.item {
    float: left;
    margin: 0 35px;
}

.item-bg {
    height: 136px;
    width: 136px;
    background-color: #ffffff;
    background-position: -358px 0;
    text-align: center;
}

.item-bg2 {
    height: 30px;
    width: 136px;
}

.item-bg2 div {
    height: 30px;
    width: 30px;
    float: left;
    margin: 20px 2px;
}

.bg-2-1 {
    background-position: -438px -136px;
}

.bg-2-2 {
    background-position: -468px -136px;
}

.bg-2-3 {
    background-position: -530px -100px;
}

.bg-2-4 {
    background-position: -560px -100px;
}

.job {
    line-height: 100px;
    font-size: 34px;
    color: #464646;
}

.num {
    line-height: 36px;
    font-size: 24px;
    color: #fff;
}

.shutiao1 {
    height: 100%;
    position: absolute;
    top: 220px;
    right: 1px;
}

.shutiao2 {
    position: absolute;
    top: 220px;
    right: 1px;
}

.foot {
    height: 110px;
    clear: both;
    position: fixed;
    top: 100%;
    margin-top: -188px;
    width: 100%;
    background-color: #29bde0;
    padding: 42px 0 60px;
}

/*foot悬浮固定在底部*/
.tousi {
    font-size: 36px;
    color: white;
    width: 490px;
    height: 87px;
    line-height: 87px;
    text-align: center;
    background-position: -7px -205px;
    position: relative;
    left: 50%;
    margin-left: -245px;
}