body {
    background-color: #f0f0f0;
    min-width: 570px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 40px;
    margin: 0;
    padding: 0;

}

abbr, acronym {
    border: 0;
}

.main {
}

.heading {
    height: 96px;
    background-color: #29bde0
}

.bgd1 {
    height: 32px;
    width: 32px;
    background-image: url("sprite/sprite.png");
    background-position: -549px -60px;
    position: relative;
    top: 50%;
    left: 16px;
    margin-top: -20px;
}

.last {
    width: 100%;
    height: 122px;
    line-height: 122px;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 27px;
    color: #9a9a9a;
    border: 1px solid #dedede;
}

.bgd2 {
    height: 40px;
    width: 24px;
    background-image: url("sprite/sprite.png");
    background-position: -574px 0;
    float: right;
    margin: -81px 20px 0 0;
}

.body {
    padding: 27px 33px 62px 33px;
    font-size: 32px;
}

.left {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dedede;
}

.left p {
    font-size: 32px;
    color: #bbb;
    margin: 27px 0;
}

.title {
    height: 91px;
    line-height: 91px;
    width: 100%;
    color: orange;
    border-bottom: 1px solid orange;
    margin-bottom: 30px;
}

.item {
    height: 136px;
    line-height: 136px;
    background-color: #69d1e9
}

.item h1 {
    color: #ffffff;
}

.items {
    padding: 0 50px 10px 50px;
}

.bgd3, .bgd4, .bgd5, .bgd6 {
    width: 18px;
    height: 18px;
    background-image: url("sprite/sprite.png");
    float: left;
}

.bgd3 {
    background-position: -515px -136px;
}

.bgd4, .bgd5, .bgd6 {
    background-position: -498px -136px;
}

.bgd7 {
    height: 56px;
    width: 28px;
    background-image: url("sprite/sprite.png");
    background-position: -494px 0;
    float: right;
    position: relative;
    top: -436px;
    right: 11px;
}

.dot {
    height: 18px;
    width: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
}

.dot div {
    margin-right: 5px;
}